body {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}

ul {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: rgb(100, 100, 100);
}

a:hover {
  text-decoration: underline;
}

.top-header-div, .extras {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.extras {
  font-style: italic;
  font-size: large;
}

.company-info, .college-info {
  display: flex;
  gap: 20px;
}

.company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-projects, .udemy-certificates, .technical-skills, .t-certificates, .project {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  margin-top: 0.1em;
}

.task-list, .education {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.education {
  padding-left: 15px;
  padding-right: 15px;
}

.skills {
  padding: 0 5px;
}

.skill-set {
  display: flex;
  flex-direction: column;
}

.skill-row {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.skill-detail {
  align-self: flex-start;
}

.stars {
  align-self: flex-end;
}

.tasks {
  margin-top: 0.6em;
  font-style: italic;
}

/* Styling for each list item in tasks */
.tasks ul li {
  transition: 0.3s; /* Smooth transition for hover effects */
  cursor: pointer;  /* Changes the cursor to a hand when hovering over list items */
}

/* Hover effect for each list item in tasks */
.tasks ul li:hover {
  text-decoration: underline; /* Underlines the list item on hover */
}

