body {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}

ul {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: rgb(100, 100, 100);
}

a:hover {
  text-decoration: underline;
}

.top-header-div, .extras {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.extras {
  font-style: italic;
  font-size: large;
}

.company-info, .college-info {
  display: flex;
  gap: 20px;
}

.company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-projects, .udemy-certificates, .technical-skills, .t-certificates, .project {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  margin-top: 0.1em;
}

.task-list, .education {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.education {
  padding-left: 15px;
  padding-right: 15px;
}

.skills {
  padding: 0 5px;
}

.skill-set {
  display: flex;
  flex-direction: column;
}

.skill-row {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.skill-detail {
  align-self: flex-start;
}

.stars {
  align-self: flex-end;
}

.tasks {
  margin-top: 0.6em;
  font-style: italic;
}

/* Styling for each list item in tasks */
.tasks ul li {
  transition: 0.3s; /* Smooth transition for hover effects */
  cursor: pointer;  /* Changes the cursor to a hand when hovering over list items */
}

/* Hover effect for each list item in tasks */
.tasks ul li:hover {
  text-decoration: underline; /* Underlines the list item on hover */
}



.project-container {
    font-family: Arial, sans-serif;
    width: 100%;
    padding-left: 15px;
    list-style-type: none;
}

.project-item {
    margin: 10px 0;
    padding: 5px 0;
    border-bottom: 1px solid #e5e5e5;
}

.project-logo {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.project-title {
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.project-year {
    font-weight: normal;
    font-size: 0.9em;
    color: #555; /* Darker color than the previous #777 */
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.project-description {
    font-size: 0.9em;
    color: #555;
    margin-top: 3px;
}

.project-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Adding some space between rows */
}
.project-item {
  width: 49%; 
  box-sizing: border-box; 
}